.flex-container{
    width: 100%;
    height: 300px;
}
#zold{
    background-color: green;
    color: green;
}
#sarga{
    background-color: yellow;
    color: yellow;
}
#lila{
    background-color: purple;
    color: purple;
}